<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/chat_style.css') }}">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
</head>
<body>
    <div id="chat_messages">
        <ul>

        </ul>
    </div>
    <form name="chat_input" id="chat_input">
        <input type="text" id="typed_message"/>
        <button id="submitButton" type="submit">Send!</button>
    </form>
    <script type="text/javascript">
        $(function() {

            function getSender(received_sender) {
                if(received_sender == '{{ username }}')
                    return 'You';
                return received_sender;
            }

            //make autologout compatible with all browsers
            var myEvent = window.attachEvent || window.addEventListener;
            var chkevent = window.attachEvent ? 'onbeforeunload' : 'beforeunload';
            myEvent(chkevent, function(e) {
                $.ajax({
                    url: '/logout',
                    type: 'GET'
                });
            });

            var lastMessageId = 0;
            var refreshFrequency = 500;
            window.setInterval(function() {
                $.ajax({
                    url: '/api/conversation' + '/{{ conversation_id }}' + '?last_id=' + lastMessageId,
                    type: 'GET',
                    success: function(messages_to_render) {
                        $.each(JSON.parse(messages_to_render), function(i, message) {
                            $('#chat_messages').append('<li><b>' + getSender(message.sender) + ': </b>' + message.message + '</li>');
                            lastMessageId = message.id;
                        });
                    }
                });
            }, refreshFrequency);

            $.ajax({
                url: '/api/conversation' + '/{{ conversation_id }}' + '?last_id=' + lastMessageId,
                type: 'GET',
                success: function(messages_to_render) {
                    $.each(JSON.parse(messages_to_render), function(i, message) {
                        $('#chat_messages').append('<li><b>' + getSender(message.sender) + ': </b>' + message.message + '</li>');
                        lastMessageId = message.id;
                    });
                }
            });

            $('#chat_input').submit(function(event) {
                var typed_message = $('#typed_message').val();
                $('#typed_message').val('');
                var data = {
                            message: typed_message,
                            timestamp: '20:20',
                            sender: '{{ username }}'
                };

                $.ajax({
                    url: '/api/conversation' + '/{{ conversation_id }}',
                    data: JSON.stringify(data , null, '\t'),
                    contentType: 'application/json;charset=UTF-8',
                    type: 'POST',
                    error: function(error) {
                        console.log(error);
                    }
                });
                event.preventDefault();
                return false;
            });
        });
    </script>
</body>
</html>
