{% extends "base.html" %}
{% block content %}

    <div class="container-full">
        <div class="row">
            <div class="col-lg-12 text-center v-center">

                <h1>Welcome to IM</h1>
                <p class="lead">An instant messenger for modern times</p>
                <p class="lead">Sign up now!</p>

                <br>

                <div class="col-lg12">
                    <div class="input-group input-group-lg col-sm-offset-4 col-sm-4">
                        {% call macros.render_form(form, action_url='/register', action_text='Register', class_='RegisterForm', btn_class='btn btn-lg btn-primary') %}
                            {{ macros.render_field(form.username, label_visible=false, placeholder='Username', type='username', class="center-block form-control input-lg") }}
                            {{ macros.render_field(form.password, label_visible=false, placeholder='Password', type='password', class="center-block form-control input-lg") }}
                            {{ macros.render_field(form.email, label_visible=false, placeholder='Email', type='email', class="center-block form-control input-lg") }}
                        {% endcall %}
                    </div>
                </div>
            </div>
        </div>

  	    <br><br><br><br><br>
    </div>

    <div class="container">

        <hr>
            <div class="col-lg-12 text-center v-center">
                <div class="panel panel-default">
                <div class="panel-heading"><h3>Description</h3></div>
                <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                Aliquam in felis sit amet augue.
                </div>
              </div>
            </div>
        </div>

    </div>

{% endblock content %}